
.Head-Outer {
    width: 100%;
    padding: 50px 0px;
    background-color: var(--dark-2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Head-Inner {
    width: calc(100% - 100px);
    padding: 0px 50px;
    max-width: 800px;
    display: flex;
}

.Head-Left {
    padding: 20px;
    padding-left: 0px;
    max-width: 500px;
}

.Head-Small-Text {
    font-size: 16px;
    color: var(--light-2);
}

.Head-Large-Text {
    font-size: 40px;
    color: var(--light-4);
    font-weight: 600;
    transition: color 0.5s;
}

.Head-Large-Text:hover {
    color: var(--light-6);
}

.Head-Right {
    padding: 20px;
    padding-right: 0px;
    margin-left: auto;
    border-left: 1px dashed var(--light-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Head-Link {
    font-size: 24px;
    color: var(--light-2);
    transition: color 0.5s;
}

.Head-Link:hover {
    color: var(--light-6);
}